//gradient colours
@mixin linear-gradient($direction, $colors...) {
    background: -webkit-linear-gradient($direction, $colors);
    background: -moz-linear-gradient($direction, $colors);
    background: -o-linear-gradient($direction, $colors);
    background: linear-gradient($direction, $colors);
}

@mixin radial-gradient($shape, $colors...) {
    background: -webkit-radial-gradient($shape, $colors);
    background: -moz-radial-gradient($shape, $colors);
    background: -o-radial-gradient($shape, $colors);
    background: radial-gradient($shape, $colors);
}